/**********************
*                     *
*   Author: Adam P    *
*   Date: 17/04/20    *
*                     *
**********************/
a {
  color: crimson;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: darkmagenta;
  background-color: aquamarine;
  text-decoration: underline;
}
