/**********************
*                     *
*   Author: Adam P    *
*   Date: 16/04/20    *
*                     *
**********************/
a:hover {
  color: lime;
}

a:active {
  color: orange;
}

a:visited {
  color: purple;
}
