/**********************
*                     *
*   Author: Adam P    *
*   Date: 20/04/20    *
*                     *
**********************/

.button {
  display: block;
  width: 400px;
  padding: 12px;
  border: 1px solid #77aaaa;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background: #aadddd;
  background: linear-gradient(90deg, #4b4e4e 60%, #e96ae9 90%, #47cc47 100%);
  transition: background 1s ease-out;
  box-shadow: 2px 2px 4px 2px red;
}
.button:hover {
  background: #77aaaa;
  background: linear-gradient(-90deg, #4b4e4e 60%, #e96ae9 90%, #47cc47 100%);
  background-position: 424px;
}
* {
}
