/**********************
*                     *
*   Author: Adam P    *
*   Date: 20/04/20    *
*                     *
**********************/

#banner {
  background-color: #606060;
  width: 600px;
  height: 600px;
  background-image: url(https://source.unsplash.com/200x200/?flag),
    url(https://source.unsplash.com/200x200/?beach);
  background-repeat: no-repeat;
  background-position: left, top right;
  background-size: 300px, contain;
}
