/**********************
*                     *
*   Author: Adam P    *
*   Date: 15/04/20    *
*                     *
**********************/
p {
  font-size: 18px;
  color: red;
}

a {
  text-decoration: underline;
  font-size: 24px;
}

span {
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
}
div {
  width: 100%;
  background-color: grey;
}
