/**********************
*                     *
*   Author: Adam P    *
*   Date: 15/04/20    *
*                     *
**********************/

h2 {
  font-size: 24px;
}

#contact-header {
  font-size: 18px;
  color: red;
}

span {
  display: block;
  color: blue;
}

.deck {
  color: red;
}
